@import "./styles-lists.scss";
@import "./styles-all_vendors.scss";
@import "./styles-forms.scss";
@import "./styles-header.scss";
@import "./styles-home.scss";
@import "./styles-navbar.scss";
@import "./styles-vendor_profile.scss";


// ****** styles-all ******

* {
	box-sizing: border-box;
	font-family: 'Amarante', cursive,'Roboto', sans-serif;
}

.font2{
  font-family: 'Roboto', sans-serif;
}

img {
	width: 100%;
	display: block;
}

body{
	background: linear-gradient(to right, #e78200 0%,#e5d80e 100%);
	color: #7a6c6c;
}

h2{
	font-family: 'Amarante', cursive;
	font-size: 40px;
}

.fa{
	color: #7a6c6c;
}

.btn{
	height: 75px;
	font-size: 30px;
	background-color: #7a6c6c;
	color: lightgray;
}
