@import "./styles-all_vendors.scss";
@import "./styles-forms.scss";
@import "./styles-header.scss";
@import "./styles-home.scss";
@import "./styles-navbar.scss";
@import "./styles-vendor_profile.scss";


// ****** styles-all ******

* {
	box-sizing: border-box;
}

img {
	width: 100%;
	display: block;
}


body{
	background: linear-gradient(to right, #e78200 0%,#e5d80e 100%);

	font-family: 'Amarante', cursive;

	color: #7a6c6c;


}
