.header-container{
	padding-top: 20px;
}

.BrewsMuse{
	padding-top: 20px;
	letter-spacing: 8px;
	text-align: left;
	font-size: 50px;
}

.fa-cog{
	float: right;
}
// .fa-bars {
// 	// text-align: right;
// 	float: right;
// }
