// .login-container {
//     font-size: 80px;
// }
//
// .register-container{
// 	font-size: 80px;
// }

.form-control {
  height: 48px;
  font-size: 30px;
}

button{
	background-color: #7a6c6c;
	color: lightgray;
}

.form-inline{
	padding: 2px;
	text-align: center;
}


.submit-button{
	width: 300px;
	height: 100px;
}

.btn{
	font-size: 35px;
}
