
.main-features{
	margin-top: 150px;
}

.media{
	background-color: white;
	font-size: 35px;

}

.browse_brews{
	margin-top: 100px;
	margin-bottom: 100px;
}

.media-left{
	padding: 20px;
	width: 130px;
}

.fa{
	color: black;
}

.media-body{
	padding: 20px;
	width: 810px;
}

.media-heading{
	margin-bottom: 10px;
}
